.main-button {
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
  }
  
.primary {
  color: rgb(238, 238, 238);
  background-color: hsl(344, 77%, 44%);
  width: 170px;
}
  
.secondary {
  background-color:#EEEEEE;
  border: 2px solid #7a7a7a;
  color: black;
}

.booking {
  background-color: #9cbecd;
  color: white;
  border: none;
  padding: 10px 25px;
  border: 2px solid white;
}

.logout {
  padding: 10px 15px;
  border: 2px solid white;
  margin-top: 5px;
  color: white;
  background: #bbcada;
}

.primary:hover {
  animation-name: shine;
  animation-duration: 260ms;
}
  
@keyframes shine {
  0% {
    background: linear-gradient(
      30deg, 
      hsl(260, 85%, 95%) 0%, 
      hsl(344, 77%, 44%) 25%
    );
  }
  
  25% {
    background: linear-gradient(
      30deg, 
      hsl(344, 77%, 44%) 0%, 
      hsl(260, 85%, 95%) 25%, 
      hsl(344, 77%, 44%) 50%);
  }
  
  50% {
    background: linear-gradient(
      30deg,
      hsl(344, 77%, 44%) 0%, 
      hsl(260, 85%, 95%) 50%, 
      hsl(344, 77%, 44%) 75%); 
  }
  
  75% {
    background: linear-gradient(
      30deg, 
      hsl(344, 77%, 44%) 0%, 
      hsl(260, 85%, 95%) 75%, 
      hsl(344, 77%, 44%) 100%); 
  }
  
  100% {
    background: linear-gradient(
      30deg, 
      hsl(344, 77%, 44%) 0%, 
      hsl(260, 85%, 95%) 100%); 
  }
}
  
.secondary:hover {
  background-color: #9cbecd;
  color: #EEEEEE;
  border: none;
}

.booking:hover {
  background-color: hsl(344, 77%, 44%);
  border-color: hsl(344, 77%, 44%);
}

.logout:hover {
  color: hsl(344, 77%, 44%);
  border: 2px solid hsl(344, 77%, 44%);
}